
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header style */
.header{
    background-image: url(/developer.png), url(/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top:none;
    
}
    

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* background-color: powderblue; */
    margin: 50px 200px;
   
}
span{
    color: rgb(245, 111, 62);
}
nav ul{
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul li {
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: rgb(77, 75, 75);
    font-weight: 800;
}
li a:hover{
    text-decoration: underline blue;
    cursor: pointer; 
} 
.button1{    
    background-color: rgb(236, 111, 66);
    color: whitesmoke;
    font-weight: 800;
    border-radius: 5px;
    padding: 6px;
    height: 64px;
    width: 150px;
    border: none;
    font-size: 30px 70px;
    cursor: pointer;
}
h2{
    font-weight: 900;
    font-size: 40px;
}
.button1:hover{
    background-color: blueviolet;
}
header{
    color: rgb(82, 75, 66);
   
}   
.banner-pic{
    width: 580px;
    height: 700px;
}
/* banner style */
.banner-greetings{
    color: rgb(136, 134, 134);
    font-size: 45px;
    margin-bottom: 5px;
}
.developer-name{
    font-weight: 900;
    color: black;
   
    font-size: 85px;
    margin-top: 10px;
}
.banner-description{
    color: rgb(68, 66, 66);
    height: 60px;
    width: 600px;
    font-size: 18px;
    margin-top: 4px;
}
.banner-description:hover{
    background-color: rgb(146, 146, 190);
}
.button2{
    color: coral;
    background-color: aliceblue;
    border-color: coral;
    border-radius: 6px;
    width: 150px;
    height: 64px;
    font-size: 25px 70px;
    font-weight: 800;
    cursor: pointer;
    margin-left:20px ;
}
.button2:hover{
    background-color: rgb(180, 224, 215);
}


.banner-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 220px;


}
/* .section-style */
.section-style{
    font-size: 35px;
    font-weight: bold;
    color: #2b2a2a;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}
.bg-color{
    background-color: #e9ddd5;
    
}


.about-des{
    font-weight: bold;
}
.about{
    display: flex;
    justify-content: space-around;
}
main{
    max-width: 1140;
    margin: 0 auto;
}
.about-me{
    margin-top: 130px;
    margin-left: 220px;
    margin-right: 220px;
    border-radius: 10px;
    border: 120px solid #e9cfcf;
}
.about-div{
    border: 2px solid rgb(41, 39, 39);
    /* background-color: white; */
    border-radius: none;
    padding: 15px;
    
}  
.about-items{
    text-align: center;
}  
.section-2{
    border: 2px solid #e9ddd5;
    margin-left: 330px;
    margin-right: 330px;
    margin-top: 85px;
    padding: 15px;
    border: none;
}
.skills-container{
    /* text-align:; left*/
    margin-left: 240px;
    margin-right: 230px;
    margin-top:0;
    margin-bottom: 100px;
    
    
    display: flex;
    justify-content: center;
    gap: 25px;
}
.skill{
    padding: 30px;
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px #000000;
    height: 300px;
}
.head{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 20px;
    margin: 0 218px 0 230px ;
    margin-bottom: 130px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    padding: 13px 230px;
    /* margin-bottom: 100px; */
    gap: 100px;
    width: auto;
    height: 500px;
}


footer input[type="text"]{
    width: 100%;
    height:30px;
    background-color:white;
    border-radius: 5px;
    padding: 15px 20px;
    display: block;
    font-size: 20px;
    border: none;
     margin-bottom: 25px;

 
}
footer input[type="Email"]{
    width: 100%;
    height:30px;
    background-color:white;
    border-radius: 5px;
    padding: 15px 20px;
    display: block;
    font-size: 20px;
    border: none;
    margin-bottom: 25px;

}
footer textarea{
    width: 100%;
    height:120px;
    background-color:white;
    border-radius: 5px;
    padding: 15px 20px;
    display: block;
    font-size: 20px;
    border: none;
     margin-bottom: 25px;
}
footer input[type="submit"]{
    width: 35%;
    height:35px;
    background-color:coral;
    border-radius: 5px;
    /* padding: 15px 20px; */
    display: block;
    font-size: 15px;
    border: none;
}
footer input[type="submit"]:hover{
    background-color: rgb(167, 97, 224);
    cursor: pointer;
}

